@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
html, 
body{
     margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}
 .wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

nav {
    background-color: #1C352D;
    color: beige;
    position: sticky;
    top: 0;
    z-index: 100;
    
}
nav  > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
html, 
body{
     margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}
 .wrapper {
    width: 1024px;
    margin: auto
 }

 /*
*menu
*/
.menu {
    width: 50%;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.menu > ul > li > a{
text-decoration: none;
color: beige;
}

.logo {
    display: flex;
    align-items: center;
}
.logo > img {
    height: 45px;
}

/*
*hero/jumbutron
*/

header {
    background: url('../bg\ img.jpg');
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Libertinus Serif", serif;
    letter-spacing: 5px;
    text-shadow: 0 0 4px  #000;
    
}

.header-opacity {
    background-color: #1C352D;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}

.header-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-jumbotron >h4 {
    color: beige;
    font-size: 2.5rem;
    margin: 0px;
    padding: 0px;
}

.header-jumbotron > h5 {
    color: #F5C9B0;
    margin: 0px;
    padding: 5px;
    font-size: 3.5rem;
    line-height: 3.9rem;
    text-transform: uppercase;
}

.header-jumbotron > p {
    padding: 5px;
    margin: 0px 5px 0px 5px;
    font-size: 20px;
    color: beige;
}

a {
    text-decoration: none;
    color: beige;
    text-shadow: none;
}

.button {
    background-color: #1C352D;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-family: "Libertinus Serif", serif;
}

.button-xl {
    font-size: 1.4rem;
    padding: 18px;
}

/*
* statistic
*/

#statistic {
    background-color:#F5C9B0;
    color: #000;
    font-family: "Libertinus Serif", serif;
}

#statistic > .wrapper {
    padding: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#statistic > .wrapper > div {
    text-align: center;
}

#statistic > .wrapper > div > p {
    font-size: 3.5rem;
    margin: 0px;
    padding: 0px;
}

#statistic > .wrapper > div > p > i {
    margin: 10px;
}

#statistic > .wrapper > div > small {
    font-size: 1.5rem;
}

/* premium merchandise */
#premium-merchandise {
    background-color: #1C352D;
    color: beige;
}

#premium-merchandise > .wrapper {
    padding: 50px 0px 50px 0px;
}

#premium-merchandise > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Libertinus Serif", serif;
}

#premium-merchandise > .wrapper > h4 > span {
    color: rgb(235, 224, 79);
}

#premium-merchandise > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 50px;
}

.grid > .item {
    border: 1px solid #000;
    background-color: dimgrey;
    border-radius: 5px;
    position: relative;
}

.grid > .item > img {
    width: 15%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.grid > .item > .item-detail {
    padding: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 70%;
}

.grid > .item > .item-detail > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.grid > .item > .item-detail > div > small {
    color: beige;
    font-size: 1rem;
    
}

.grid > .item > .item-detail > div > small > a {
    font-size: 1rem;
    color: beige;
}

/* tentang saya */

#tentang-saya {
    background-color: #F5C9B0;
    color: #1C352D;
}

#tentang-saya > .wrapper {
    padding: 50px 0px 50px 0px;
}

#tentang-saya > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Libertinus Serif", serif;
}

#tentang-saya > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}

#tentang-saya > .wrapper > div {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#tentang-saya > .wrapper > div > .foto {
    width: 30%;
}

#tentang-saya > .wrapper > div > .foto > img {
    max-width: 80%;
}

#tentang-saya > .wrapper > div > .desc {
    width: 70%;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}
#tentang-saya > .wrapper > div > .desc > p {
    margin: 0px 0px 10px 0px;
    font-size: 1.2rem;
    line-height: 1.7rem;
}


#tentang-saya > .wrapper > div > .desc > .social  {
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 1.2rem;
}

#tentang-saya > .wrapper > div > .desc > .social > a {
    color: #000;
}

/* my experience */
#my-experience {
    background-color: #1C352D;
    color: #F5C9B0;
}

#my-experience > .wrapper {
    padding: 50px 0px 50px 0px;
}

#my-experience > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Libertinus Serif", serif;
    color: white;
}

#my-experience > .wrapper > h4 > span {
    color: rgb(235, 224, 79);
}

#my-experience > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}

#my-experience > .wrapper > .grid > .item {
    background-color: dimgrey;
    margin: 0px;
    padding: 0px;
}

#my-experience > .wrapper > .grid > .item-detail {
    padding: 0px;
    margin: 0px;
    font-size: 1.4rem;
    width: 100%;
}

#my-experience > .wrapper > .grid > .item-detail > img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#my-experience > .wrapper > .grid > .item > .item-detail > div {
    padding: 10px 20px 10px 20px;
}

#my-experience > .wrapper > .grid > .item-detail > div > .button {
    background-color: #1C352D;
    padding: 4px 7px 4px 7px;
    position: relative;
    border-radius: 5px;
    right: 10px;
    top: 10px;
    text-align: center;
}

#my-experience > .wrapper > .grid > .item-detail > div {
    padding: 10px 20px 10px 20px;
}

#my-experience > .wrapper > .grid > .item > .item-detail > div {

}


/* footer */

footer {
    background-color: #F5C9B0;
    color: #1C352D;
    text-align: center;
}

/* hamburger menu */

button.hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
}

button.hamburger-menu > i {
    color: white;
    font-size: 1.5rem;
}


/* 1024, 900,768, 600, 450 */

@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 900px) {
#statistic > .wrapper > div > p {
    font-size: 2.5rem;
    margin:  0px;
    padding :0px
}

#statistic > .wrapper > div > p > i {
    font-size: 2.5rem;
}
#statistic > .wrapper > div > small {
    font-size: 1rem;
}

.grid {
    grid-template-columns: 45% 45%;
}

.item > img {
    width: 8%;
}
}

@media only screen and (max-width: 768px) {
    .menu {
        width: 60%;
    }
    .header-jumbotron > h4 {
        font-size: 1.5rem;
    }
    .header-jumbotron > h5 {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    .header-jumbotron > p {
        font-size: 0.8rem;
    }

    .button {
        padding: 5px;
    }
    .button-xl {
        font-size: 1.2rem;
        padding: 10px;
    }

    #statistic > .wrapper > div > p {
        font-size: 1.5rem;
        margin: 0px;
    }

    #statistic > .wrapper > div > p > i {
    font-size: 1.5rem;
}
}

@media only screen and (max-width: 600px) {
.grid {
    grid-template-columns: 100%;
}

#statistic > .wrapper {
    padding: 10px;
    flex-direction: column;
}

#statistic > .wrapper > div {
    display: flex;
}

#statistic > .wrapper > div > small {
    font-size: 1.5rem;
    padding-left: 10px;
}

#statistic > .wrapper > div > small {
    font-size: 1.5rem;
    padding-left: 10px;
}

#tentang-saya > .wrapper > div {
    width: 100%;
    flex-direction: column;
}

#tentang-saya > .wrapper > div > .foto {
    width: 50%;
}

#tentang-saya > .wrapper > div > .foto > img {
    max-width: 100%;
}

#tentang-saya > .wrapper > div > .foto > .desc {
    width: 70%;
    padding: 20px;
    margin: 10px;

}

#tentang-saya > .wrapper > div > .foto > .desc > .social {
    margin: auto;
}
}
